<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
</head> -->
<body>
    <% layout("/layouts/boilerplate") %> <!--ejs-mate-->

    <div class="row">
    <div class="col-8 offset-2">
        <br /> <br />
    <h1>create a new listing!</h1>

    <form method="POST" action="/listings" novalidate class="needs-validation">

        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Add a catchy Title" type="text" class="form-control" required>
       <div class="valid-feedback">title looks good!</div> <!--success and failure text topic-->
    </div>


        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea> <!--text area ghetle karan te long description yenar mhanun and tet area madhe type="text" nahipan lihile tari chalel--> 
        <div class="invalid-feedback">please enter a short description</div>
         </div>


        <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image]"  placeholder="enter image URL/Link" type="text" class="form-control">
         </div>

         <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">price</label>
        <input name="listing[price]" placeholder="12000"   class="form-control" required>
        <div class="invalid-feedback">price should be valid</div>
        </div> <!--type="number kadhun div paste kela please enter a valid price cha " and invalid-feedback dile tar te red madhe show honar price valid price taka mahnun form madhe-->


        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">country</label>
        <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
        <div class="invalid-feedback">country name should be valid</div>     
    </div>
    </div>


        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Gujarat,Maharashtra" type="text" class="form-control" required> <!--object chi key banavat ahe as listing[location] as key value pair bannar-->
        <div class="invalid-feedback">location should be valid</div>
        </div>
        
        <br /> <br/>

        <button class="btn btn-dark add-btn">Add</button>
        <br /> <br />
    </form>
    </div>
    </div>  

</body>
<!-- </html> -->