<!-- error la changlaya ritine style sathi bootstrap alert karu -->

<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <p class="alert-heading"> <%= message %> </p>
         <!--err.stack means purn stack kuthun err start jala te purn disel pan he prefer nahi karu fakt messge ch print show  karu karan te complicated houn janar jast-->
</div>