 body{
    /* background-color: pink; */
    font-family: "Montserrat", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.container{
    flex: 1;
}

/* NAVBAR STYLING */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-brands{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
   color: #222222 !important; /* by default jar aapan bootstrap ko koi ir=tem component use kar rhe he navbar var bootstrap che styling lagat ahe !iportant ne apn style.css chi style bootstrap la override karel and hi styling apply honar */
}
/* FOOTER STYLING */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline; 
    vertical-align: middle;
}
.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
    color: black;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color:#ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* CARDS EDITS */
.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{ /*card-body mead card che text */
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
/* card effect */
/* agar hame card ke image ke uper hi text place karna he to bootstrap me card-img-overlay div madhe lihile ata he te index.ejs madhe div ghetla ahe card-img-overlay navacha  */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* LISTINGS/NEW EDIT NEW PAGE*/
.add-btn{
    background-color: #f3424d !important;
    border: none !important;
}

/* LISTINGS/EDIT EDIT PAGE */
.edit-btn{
    background-color: #f3424d !important;
    border: none !important;
    color: white !important;
}
/* LISTINGS/SHOW SHOW PAGE */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}